@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    font-family: "Comic Neue", cursive;

}

body::-webkit-scrollbar{
    width: 1px;
}

body::-webkit-scrollbar-thumb {
    background-color: #e8d1d2;    
    border-radius: 20px;       
}

body {
    background-color: #F5F5F5;
    overflow: hidden;
}

.navb{
    padding-top: 10px;
}

.header-create-mem{
    padding: 10px;
}

.text_h{
    text-decoration: underline;
    color: #551A8B;
}

.short-div{
    text-align: center;
}

#image{
    position: relative;
    top: -375px;
}

#img{
   width: 100%;
   
}

#text{
    position: relative;
    bottom: 473px;
    
}

#button{
    position: relative;
    left: -100px;
    bottom: 280px;
    
}

.generate{
    background: #9D81BA52;
    height: 50px;
    width: 160px;
    border: none;
    margin-right: 10px;
    font-size: 16px;
}

.generate:hover {
    background-color:#9D81BA;
    transition: 0.7s;
}

.download{
    background: #9D81BA52;
    height: 50px;
    width: 160px;
    border: none;
    margin-right: 10px;
    font-size: 16px;
    position: relative;
    left: 100px;
    bottom: 330px;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 65%;
    bottom: 346px;
    background-color: #b59ecd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {display: block;}
